<form [formGroup]="editForm" (ngSubmit)="studentEdit()">
    <label class="edit-label" for="name">Name</label>
    <input class="edit-input" formControlName="name" type="text" name="name" required placeholder="Manuel">
    <span class="edit-input input-error" *ngIf="this.editForm.get('name')?.errors?.['required']">*(El nombre no puede
        quedar
        vacío)</span>
    <span class="edit-input input-error" *ngIf="this.editForm.get('name')?.errors?.['minlength']">*(Ingrese como mínimo
        2
        caracteres)</span>
    <label class="edit-label" for="surname">Surname</label>
    <input class="edit-input" formControlName="surname" type="text" name="surname" required placeholder="Belgrano">
    <span class="edit-input input-error" *ngIf="this.editForm.get('surname')?.errors?.['required']">*(El nombre no puede
        quedar
        vacío)</span>
    <span class="edit-input input-error" *ngIf="this.editForm.get('surname')?.errors?.['minlength']">*(Ingrese como
        mínimo 2
        caracteres)</span>
    <label class="edit-label" for="subject">Subject</label>
    <select class="edit-input" formControlName="subject" required>
        <option value="Algoritmos y estructuras de datos III">Algoritmos y estructuras de datos III</option>
        <option value="Ingeniería de software II">Ingeniería de software II</option>
        <option value="Prácticas profesionalizantes III">Prácticas profesionalizantes III</option>
        <option value="Inglés III">Inglés III</option>
        <option value="Aspectos legales de la profesión">Aspectos legales de la profesión</option>
        <option value="Seminario de actualización">Seminario de actualización</option>
        <option value="Redes y comunicaciones">Redes y comunicaciones</option>
    </select>
    <span class="edit-input input-error" *ngIf="this.editForm.get('subject')?.errors?.['required']">*(Seleccione al
        menos una materia)</span>
    <label class="edit-label" for="note">Note</label>
    <input class="edit-input" formControlName="note" type="number" name="note" required>
    <span class="edit-input input-error" *ngIf="this.editForm.get('note')?.errors?.['required']">*(La nota no puede
        quedar
        vacío)</span>
    <button type="submit" mat-raised-button color="primary" class="edit-input" [disabled]="editForm.invalid">
        {{mode}}
    </button>
</form>